/*** GENERIC ***/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

.container {
	display: flex;
	justify-content: end;
	align-items: flex-start;
}

/*** HEADER ***/
header {
	width: 100%;
	height: 70px;
	padding: 10px;
	background: black;
	color: white;
	justify-content: center;
	align-items: center;
}

.p-header {
	padding: 0 5px;
}

#icon {
	display: flex;
	justify-content: end;
	align-items: flex-start;
	font-size: 13px;
	background-color: rgba(128, 128, 128, 0.66);
	border-radius: 5px;
	padding: 3px;
}

#header-arrow {
	display: flex;
	justify-content: end;
	align-items: flex-start;
	font-size: 15px;
	background-color: rgba(128, 128, 128, 0.66);
	border-radius: 5px;
	padding: 3px;
	margin-left: 5px;
}



/*** MAIN ***/
main {
	height: calc(100vh - 70px - 80px);
	overflow-y: auto;
	padding: 30px;
	justify-content: space-between;
}

.img {
	display: flex;
	flex-wrap: nowrap;
}

.bmw {
	height: 100px;
}

/*** FOOTER ***/
footer {
	width: 100%;
	height: 80px;
	padding: 10px;
	background: rgb(45, 45, 45);
	color: white;
	justify-content: center;
	align-items: center;
}